body{
    background-color: #181818;
    margin-left: 20px;

}

span{
    font-family: Arial, Helvetica, sans-serif ;
    color: beige;
}

.container{
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-evenly;
}

.main{
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: space-between;
}

.inn{
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-between;
  

}

